/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: Roboto, Arial, sans-serif;
  color: #414141;
}

.container {
  margin: auto;
  max-width: 1140px;
}
@media (max-width: 1140px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 290px;
  }
}

.product-card {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  display: flex;
}
@media (max-width: 768px) {
  .product-card {
    display: block;
  }
}
.product-card__image {
  width: 100px;
  height: 75px;
  margin: 22px 40px 23px 20px;
  background-size: contain;
}
@media (max-width: 768px) {
  .product-card__image {
    float: left;
    height: 50px;
    width: 67px;
    margin: 0 15px;
  }
}
.product-card__info {
  flex-grow: 1;
  margin: 25px 0;
}
.product-card__name {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 768px) {
  .product-card__name {
    display: inline-block;
    position: relative;
    margin-bottom: 11px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.product-card__name::after {
  content: "x";
  position: absolute;
  top: 0;
  right: 0;
  height: 8px;
  width: 8px;
  border-radius: 1px;
  color: #c9c9c9;
  display: none;
}
@media (max-width: 768px) {
  .product-card__name::after {
    display: inline-block;
  }
}
.product-card__price {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 768px) {
  .product-card__price {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 19px;
  }
}
.product-card__price::before {
  display: none;
  content: "1";
  width: 27px;
  height: 20px;
  padding-top: 3px;
  border: 1px solid #E6E6E6;
  border-radius: 7px;
  margin-right: 10px;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
}
@media (max-width: 768px) {
  .product-card__price::before {
    display: inline-block;
  }
}
.product-card__close-button {
  cursor: pointer;
  margin-left: 20px;
  border: none;
  color: #c9c9c9;
  background: #f9f9f9;
  padding: 0 11px;
  font-family: inherit;
  transition: all 0.3s;
}
.product-card__close-button:hover {
  background: #f0f0f0;
}
@media (max-width: 768px) {
  .product-card__close-button {
    display: none;
  }
}
.product-card__main-info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .product-card__main-info {
    flex-direction: column;
  }
}
.product-card__secondary-info {
  display: flex;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
@media (max-width: 768px) {
  .product-card__secondary-info {
    flex-direction: column;
  }
}
.product-card__color {
  display: flex;
  list-style: none;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .product-card__color {
    margin-bottom: 10px;
  }
}
.product-card__color-item1 {
  margin-right: 4px;
}
.product-card__color-item2 {
  color: #9e9e9e;
  margin-right: 10px;
}
.product-card__color-item3 {
  width: 14px;
  height: 14px;
  background: #353E4D;
}
@media (max-width: 768px) {
  .product-card__color-item3 {
    width: 11px;
    height: 11px;
  }
}
.product-card__amount {
  display: flex;
  list-style: none;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .product-card__amount {
    display: none;
  }
}
.product-card__amount-item1 {
  margin-right: 4px;
}
.product-card__size {
  display: flex;
  list-style: none;
}
.product-card__size-item1 {
  flex-grow: 1;
  margin-right: 10px;
}
.product-card__size-item2 {
  flex-grow: 1;
  color: #9e9e9e;
}

/*# sourceMappingURL=main.css.map */
