.product-card {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  display: flex;  

  @media (max-width: 320px) {
    display: block;
  }

  &__image {
    width: 100px;
    height: 75px;
    margin: 22px 40px 23px 20px;
    background-size: contain;

    @media (max-width: 320px) {
      float: left;
      height: 50px;
      width: 67px;
      margin: 0 15px;
      
    }
  }

  &__info {
    flex-grow: 1;
    margin: 25px 0;
 }

  &__name{
   margin-bottom: 20px;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;

   @media (max-width: 320px) {
    display: inline-block;
    position: relative;
    margin-bottom: 11px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }

  &::after{
    content: "x";
    position: absolute;
    top: 0;
    right: 0;
    height: 8px;
    width: 8px;
    border-radius: 1px;    
    color:rgba(201, 201, 201, 1);
    display: none;

    @media (max-width: 320px){
      display: inline-block;
    }
  }
  }

  &__price{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    @media (max-width: 320px) {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 19px;
    }

    &::before{
      display: none;
      content: "1";
      width: 27px;
      height: 20px;
      padding-top: 3px;
      border: 1px solid #E6E6E6;
      border-radius: 7px;
      margin-right: 10px;
      font-size: 11px;
      font-weight: 500;
      line-height: 13px;
      text-align: center;
      
  
      @media (max-width: 320px) {
        display:inline-block;
      }
  }  
  }

  &__close-button {
    cursor: pointer;
    margin-left: 20px;
    border: none;
    color: #c9c9c9;
    background: #f9f9f9;
    padding: 0 11px;
    font-family: inherit;
    transition: all 0.3s;

    &:hover {
      background: #f0f0f0;
    }

    @media (max-width: 320px) {
      display: none;      
    }
  }

  &__main-info {
    display: flex;
    justify-content: space-between;

    @media (max-width: 320px) {
      flex-direction: column;
    }
  }

  &__secondary-info{
    display: flex;
    max-width: 499px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

  @media (max-width: 320px) {
    flex-direction: column;
    margin-left: 15px;    
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    }
  }

  &__color {
    display: flex;     
    list-style: none;
    margin-right: 15px;

    @media (max-width: 320px) {
      margin-bottom: 10px;
    }
    
  }

  &__color-item1{
    margin-right: 4px;
  }

  &__color-item2{
    color: $secondary-font-color;
    margin-right: 10px;
  }

  &__color-item3{
    width: 14px;
    height: 14px;
    background: #353E4D;

    @media (max-width: 320px) {
      width: 11px;
      height: 11px;
    }
  }

  &__amount {
    display: flex;
       
    list-style: none;
    margin-right: 15px;
    @media (max-width: 320px) {
      display: none;
    }
  }

  &__amount-item1{
    margin-right: 4px;
  }

  &__size{
    display: flex;
    flex-basis: 250px;    
    list-style: none; 
    
    @media screen and (max-width: 675px) {
      display: block;
    }
    @media screen and (max-width: 320px) {
      display: flex;
    }
  }

  &__size-item1{    
    margin-right: 10px;
  }

  &__size-item2{    
    color: $secondary-font-color;
  }
}
