.product-card {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  display: flex;

  // TODO: Delete margins
  margin: 20px 24px;

  &__image {
    margin: 22px 40px 23px 20px;
  }

  &__info {
    flex-grow: 1;
    margin: 25px 0;
  }

  &__name{
   margin-bottom: 20px;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
  }

  &__close-button {
    cursor: pointer;
    margin-left: 20px;
    border: none;
    color: #c9c9c9;
    background: #f9f9f9;
    padding: 0 11px;
    font-family: inherit;
    transition: all 0.3s;

    &:hover {
      background: #f0f0f0;
    }

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &__main-info {
    display: flex;
    justify-content: space-between;
  }

  &__secondary-info{
    display: flex;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  &__color {
    display: flex;
    list-style: none;
    margin-right: 15px;
    
  }

  &__color-item1{
    margin-right: 4px;
  }

  &__color-item2{
    color: $secondary-font-color;
    margin-right: 10px;
  }

  &__color-item3{
    width: 14px;
    height: 14px;
    background: #353E4D;
  }

  &__amount {
    display: flex;
    list-style: none;
    margin-right: 15px;
  }

  &__amount-item1{
    margin-right: 4px;
  }

  &__size{
    display: flex;
    list-style: none;
  }

  &__size-item1{
    margin-right: 10px;
  }

  &__size-item2{
    color: $secondary-font-color;
  }
}
